.card .card-thumb{
    height: 260px;
}

.card .card-title{
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    min-height: 48px;
}

.card .card-text{
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    min-height: 72px;
}

.slider-foto{
    height: 460px;
}

.slider-foto .slick-list, .slider-foto .slick-track{
    height: 100%;
}

.slider-foto img{
    object-fit: contain;
}

.slider-thumbs{
    height: 100px;
}

.slider-thumbs .slick-list, .slider-thumbs .slick-track{
    height: 100%;
}

.slider-thumbs .slick-slide{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 16px;
    height: 100%;
    cursor: pointer;
    margin: 0 6px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-thumbs .slick-slide.slick-current{
    border-color: #0a58ca;
}

.slider-thumbs img{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.form-avaliacao{}

.form-avaliacao button{
    border: none;
    padding: 0;
    background-color: transparent;
}

.form-avaliacao button{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Camada 1' viewBox='0 0 16.64 16'%3E%3Cpath fill='%23ffc107' d='M12.74 16c-.69 0-1.6-.71-2.62-1.52-.7-.55-1.58-1.24-1.95-1.25-.37 0-1.27.65-2 1.16-1.32.95-2.46 1.77-3.17 1.23-.7-.53-.22-1.85.34-3.38.31-.84.69-1.89.59-2.24-.11-.35-1.01-1.02-1.73-1.55C.89 7.5-.25 6.67.05 5.83c.29-.83 1.69-.78 3.32-.72.9.04 2.01.08 2.31-.13.3-.21.65-1.27.94-2.12C7.13 1.33 7.57 0 8.44 0h.02c.88.02 1.27 1.37 1.71 2.94.24.86.55 1.94.84 2.16.29.22 1.41.23 2.31.23 1.63 0 3.03.02 3.29.86.25.85-.91 1.63-2.26 2.53-.74.5-1.67 1.12-1.79 1.47-.12.35.22 1.41.49 2.27.49 1.55.92 2.89.19 3.39-.15.1-.31.15-.48.15Zm-4.58-3.48h.02c.61.01 1.43.66 2.38 1.4.64.5 1.97 1.54 2.26 1.34.29-.2-.22-1.81-.47-2.58-.37-1.15-.68-2.15-.48-2.72.2-.58 1.07-1.16 2.07-1.83.67-.45 2.08-1.39 1.98-1.73-.1-.34-1.79-.35-2.6-.35-1.21 0-2.25-.01-2.74-.38-.49-.37-.77-1.37-1.1-2.53C9.26 2.36 8.8.73 8.44.72c-.35 0-.88 1.6-1.14 2.37-.38 1.15-.71 2.14-1.21 2.48-.5.35-1.54.31-2.75.26-.81-.03-2.5-.09-2.62.24-.12.33 1.25 1.33 1.9 1.81.97.72 1.81 1.33 1.99 1.92s-.18 1.56-.6 2.7c-.28.76-.86 2.35-.58 2.56.28.21 1.65-.77 2.31-1.25.97-.7 1.81-1.3 2.42-1.3Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.form-avaliacao button.active{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Camada 1' viewBox='0 0 16.64 16'%3E%3Cpath fill='%23ffc107' d='M8.45.36C7.34.34 6.8 4.64 5.89 5.28c-.91.63-5.14-.37-5.5.68-.37 1.05 3.56 2.89 3.88 3.95.32 1.06-1.94 4.77-1.06 5.44s3.85-2.5 4.96-2.47c1.11.02 3.94 3.32 4.85 2.69.91-.63-1.18-4.44-.82-5.48s4.37-2.72 4.05-3.78c-.32-1.06-4.58-.25-5.47-.92S9.55.38 8.45.36Z'/%3E%3Cpath fill='%23ffc107' d='M12.74 16c-.69 0-1.6-.71-2.62-1.52-.7-.55-1.58-1.24-1.95-1.25-.37 0-1.27.65-2 1.16-1.32.95-2.46 1.77-3.17 1.23-.7-.53-.22-1.85.34-3.38.31-.84.69-1.89.59-2.24-.11-.35-1.01-1.02-1.73-1.55C.89 7.5-.25 6.67.05 5.83c.29-.83 1.69-.78 3.32-.72.9.04 2.01.08 2.31-.13.3-.21.65-1.27.94-2.12C7.13 1.33 7.57 0 8.44 0h.02c.88.02 1.27 1.37 1.71 2.94.24.86.55 1.94.84 2.16.29.22 1.41.23 2.31.23 1.63 0 3.03.02 3.29.86.25.85-.91 1.63-2.26 2.53-.74.5-1.67 1.12-1.79 1.47-.12.35.22 1.41.49 2.27.49 1.55.92 2.89.19 3.39-.15.1-.31.15-.48.15Zm-4.58-3.48h.02c.61.01 1.43.66 2.38 1.4.64.5 1.97 1.54 2.26 1.34.29-.2-.22-1.81-.47-2.58-.37-1.15-.68-2.15-.48-2.72.2-.58 1.07-1.16 2.07-1.83.67-.45 2.08-1.39 1.98-1.73-.1-.34-1.79-.35-2.6-.35-1.21 0-2.25-.01-2.74-.38-.49-.37-.77-1.37-1.1-2.53C9.26 2.36 8.8.73 8.44.72c-.35 0-.88 1.6-1.14 2.37-.38 1.15-.71 2.14-1.21 2.48-.5.35-1.54.31-2.75.26-.81-.03-2.5-.09-2.62.24-.12.33 1.25 1.33 1.9 1.81.97.72 1.81 1.33 1.99 1.92s-.18 1.56-.6 2.7c-.28.76-.86 2.35-.58 2.56.28.21 1.65-.77 2.31-1.25.97-.7 1.81-1.3 2.42-1.3Z'/%3E%3C/svg%3E");
}